*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    height: 10vh;
    background-color: #0f1111;
    color: white;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.nav-logo{
    width: 7rem;
    height: 3rem;
    background-image: url("amazon_logo.jpg");
    background-size: cover;
}

.nav-second p{
    margin-left:15px;
}

.nav-search{
    width: 60%;
    background-color: wheat;
    height: 3rem;
    display: flex;
    align-items: center;
}